= form_for(@team) do |f|
  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    %ul#team-players
      -@players.each do |p|
        %li
          %span.team-player-name=name(p.user)
          = link_to "", p, method: :delete,
                                     data: { confirm: "You sure?" }, :class=> "icon-remove"
  .actions
    = f.submit


=form_for(@team.team_players.build(team_id: @team.id), remote: true, 'data-update-target' => 'update-container') do |t|
  =t.hidden_field :team_id, :value => @team.id
  #available-users-results
  =t.select :user_id, options_for_select([]), {}, { :class => 'js-available-users' , :size => 5}
  =t.submit "Add Player To Roster", :class => "btn btn-info"

=form_tag users_path, :method => 'get', :remote => true, :class =>"form-search" do
  = text_field_tag :search, params[:search], :placeholder => "Enter Player Email Here" 
  = submit_tag "Find Player", :name => nil, :class => 'btn'
