%h1 Listing teams
%table.table.list-table.table-striped
  %tr
    %th Name
    %th
    %th
    %th
  - @teams.each do |team|
    %tr
      %td= team.name
      %td= link_to 'Show', team, {:class => "icon icon-eye-open"}
      - if is_admin?
        %td= link_to 'Edit', edit_team_path(team), {:class => "icon icon-edit"}
        %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Team', new_team_path