%h1
  = @team.name
  - if user_is_team_manager(@team) || is_admin?
    = link_to '', edit_team_path(@team), {:class => "icon-edit"}

= render :partial => "roster" 

%h3 Schedule
-if @games.empty?
  %h4.no-games No Games 
-else
  = render :partial => "shared/games"   

\#{link_to 'Back', teams_path}