= form_for @season do |f|
  - if @season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@season.errors.count, "error")} prohibited this season from being saved:"
      %ul
        - @season.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start
    = f.date_select :start
  .field
    = f.label :end
    = f.date_select :end
  .actions
    = f.submit 'Save'
