%p#notice= notice
%h1= @season.name

%ul
  %li
    Start Date:
    =format_date(@season.start)
  %li 
    End Date
    =format_date(@season.end)
  %li
    = render :partial => "shared/games"  
-if is_admin?    
  = link_to 'Edit', edit_season_path(@season), :class => "btn btn-large"

= link_to 'View all Seasons', seasons_path
