.column-wrapper
  - if signed_in?
    %h1 
      Welcome 
      = username
  .column.pull-left.sidebar
    - # TODO put in check for upcoming game statuses
    = render :partial => "shared/game-status"  
    = render :partial => "shared/standings" 
    = render :partial => "shared/events"     

  .column.pull-left.main-column
    - if !signed_in?
      %h1 
        Welcome User
      =link_to "Login", signin_path
      - #%small
      - #  New User? 
      -#  =link_to "Sign up", new_user_path
    %h3 Upcoming Games 
    = render :partial => "shared/games"   
    = render :partial => "shared/posts"

