
-if signed_in?
  %h1 
    Welcome 
    = username
  %ul.actions  
    %li= link_to "View Divisions", divisions_path 
    -if is_admin?
      %li= link_to "Manage Users", users_path
      %li= link_to "Manage Division Reps", division_reps_path
      %li= link_to "Manage Teams", teams_path
    
    - if  is_manager?
      - teamsManaged.each do |t|
        %li= link_to "Manage #{t.team.name}", t.team

-else
  %h1 
    Welcome User
  
  =link_to "Login", signin_path
  %small
    New User? 
    =link_to "Sign up", new_user_path

