.column-wrapper
  - if signed_in?
    %h1 
      Welcome 
      = username
  .column.pull-left.sidebar
    - # TODO put in check for upcoming game statuses
    = render :partial => "shared/standings" 
    = render :partial => "shared/events"     

  .column.pull-left.main-column
    - if !signed_in?
      %h1 
        Welcome User
        =link_to "Login", signin_path, :class => "btn btn-primary"
      Feel Free to Log into these user accounts
      %table.table.table-stripes
        %thead
          %tr
            %td Permissions
            %td Email
            %td password
        %tbody
          %tr
            %td League Administrator
            %td league+admin@gmail.com
            %td 123456
          %tr
            %td Division Adminstrator
            %td rep+division_1@gmail.com"
            %td 123456
          %tr
            %td Team Manager
            %td manager+meata@gmail.com"
            %td 123456
          %tr
            %td Player
            %td league+player@gmail.com
            %td 123456
    -else
      = render :partial => "shared/game-status"  

      - #%small
      - #  New User? 
      -#  =link_to "Sign up", new_user_path
    %h3 Upcoming Games 
    = render :partial => "shared/games"   
    = render :partial => "shared/posts"

