= form_for(@user, :html => {:class => "form-horizontal"}) do |f|
  - if @user.errors.any?
    #error_explanation
      %ul.alert.alert-error
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :first_name, :class => "control-label"
    .controls
      = f.text_field :first_name
  .control-group
    = f.label :last_name, :class => "control-label"
    .controls
      = f.text_field :last_name
  .control-group
    = f.label :email, :class => "control-label"
    .controls
      = f.text_field :email
  .control-group
    = f.label :permission ,:class => "control-label"
    .controls 
      = select_tag(:permissions, options_for_select(@user_permissions, @user.permission))
  -# .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password_field
  -#  .control-group
    = f.label :password_confirmation, :class => "control-label"
    .controls
      = f.password_field :password_confirmation      
  .control-group
    .controls
      = f.submit(:class => "btn btn-primary btn-large", :value=> "Create My Account")
  - if !signed_in?
    .control-group
      .controls
        %small
          Already a Member? 
          =link_to("Login", "#")