= form_for @division do |f|
  - if @division.errors.any?
    #error_explanation
      %h2= "#{pluralize(@division.errors.count, "error")} prohibited this division from being saved:"
      %ul
        - @division.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
