
= form_for(@division, :html => {:class => "form-horizontal"}) do |f|
  - if @division.errors.any?
    #error_explanation
      %h2= "#{pluralize(@division.errors.count, "error")} prohibited this division from being saved:"
      %ul
        - @division.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :representatives, :class => "control-label"
    .controls
      %ul#division-reps
        - @representatives.each do |rep|
          %li
            = name(rep.user)
            - if is_admin?
              =link_to "", rep, method: :delete, data: { confirm: "Remove #{name(rep.user)} from #{@division.name}?" }, :class => "icon-remove"
  .control-group
    =f.label :teams, :class => "control-label"
    .controls
      %ul#team-divisions
        - @dteams.each do |t|
          %li
            =t.team.name
            -if is_admin?
              =link_to "", t, method: :delete, data: { confirm: "Remove #{t.team} from #{@division.name}?" }, :class => "icon-remove"
  .actions
    = f.submit(:class => "btn btn-primary", :value=> "Save Changes")

- if is_admin?
  =form_for(@division.team_divisions.build(division_id: @division.id), remote: true, 'data-update-target' => 'update-container') do |t|
    =t.hidden_field :division_id, :value => @division.id
    =t.select :team_id, options_for_select(@teams_array)
    =t.submit "Add Team To Division", :class => "btn btn-info"

  =form_for(@division.division_reps.build(division_id: @division.id), remote: true, 'data-update-target' => 'update-container') do |t|
    =t.hidden_field :division_id, :value => @division.id
    #available-users-results
    =t.select :user_id, options_for_select([]), {}, { :class => 'js-available-users' , :size => 5}
    =t.submit "Add Representative", :class => "btn btn-info"

  =form_tag users_path, :method => 'get', :remote => true, :class =>"form-search" do
    = text_field_tag :search, params[:search], :placeholder => "Enter User Email Here" 
    = submit_tag "Find User", :name => nil, :class => 'btn'

