%table.table.list-table.table-striped
  %tr
    %th
      Divisions
  -@divisions.each do |division|
    %tr
      %td
        = link_to "#{division.name}", division
        %ul
          -division.teams.each do |team|
            %li= link_to "#{team.name}", team

-if is_admin?
  = link_to 'New Division', new_division_path, {:class=> "btn btn-success btn-large"}
