%p#notice= notice

%h1
  = @division.name
  - if signed_in?
    -if is_admin?
      = link_to '', edit_division_path(@division), {:class => "icon icon-edit"}

%p 
  Division Representative: 
  -@representatives.each do |rep|
    =link_to "#{name(rep.user)}", rep.user
%table.table.table-striped.list-table
  %th Teams
  -@division.teams.each do |team|
    %tr
      %td= link_to "#{team.name}", team

%h4 Games
= render :partial => "shared/games"   
      

= link_to 'Back', divisions_path
