.accordion#standingsAccordion
  -if @standings_by_division
    - @standings_by_division.each_with_index do |standing, index|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{ :href => "#collapse-#{index}", :data => {:toggle => "collapse", :parent => "#standingsAccordion"}}
            =standing[:division][:name]
            Standings
        .accordion-body.collapse{:id => "collapse-#{index}", :class=>"#{ index == 0 ? 'in' : ''}"}   
          %table.table.table-striped
            %tr
              %th Team
              %th Win
              %th Loss
              %th Ties
              %th Win%
            -standing[:teams].each do |key, value|
              %tr
                %td= key
                %td= value[:win]
                %td= value[:loss]
                %td= value[:tie]
                %td= value[:percentage]