%h1 Division Reps

%table.table.list-table
  %tr
    %th Division
    %th Division Representative

  - @division_reps.each do |division_rep|
    %tr
      %td= link_to "#{division_rep.division.name}", division_rep.division
      %td= link_to "#{name(division_rep.user)}", division_rep.user 
      %td=# link_to 'Destroy', division_rep, :method => :delete, :data => { :confirm => 'Are you sure?' }

-if is_admin?
  = link_to 'Add Division Representative', new_division_rep_path, :class => "btn btn-primary"
