%header.navbar.navbar-inverse
  .navbar-inner
    .container
      %nav
        %ul.nav
          %li= link_to "Home", root_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Divisions
              %b.caret
            %ul.dropdown-menu
              - Division.all.each do |division|
                %li.dropdown-submenu
                  = link_to "#{division.name}", division
                  - teams = TeamDivision.where(:division_id => division.id)
                  %ul.dropdown-menu
                    - teams.each do |t|
    
                      %li=link_to "#{t.team.name}", t.team
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Park
              %b.caret
            %ul.dropdown-menu
              - Park.all.each do |park|
                %li=link_to "#{park.name}", park
          -#%li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Info
              %b.caret
              %ul.dropdown-menu
                %li= link_to "Fields", fields_path
                %li= link_to "Sponsors(todo)", "#"
                %li= link_to "Forms & Rules(todo)", "#"
                %li= link_to "Archives(todo)", "#"
          -#%li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              About
              %b.caret
              %ul.dropdown-menu
                %li= link_to "Executive Committee(todo)", "#"
                %li= link_to "League Structure(todo)", "#"
                %li= link_to "League Committees(todo)", "#"
                %li= link_to "Mission Statement(todo)", "#"
                %li= link_to "History(todo)", "#"
                %li= link_to "Hall of Fame(todo)", "#"
          -#%li=link_to "Want to Play?", "#"

          - if signed_in?
            -if is_admin?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Admin 
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Manage Users", users_path
                  %li= link_to "Manage Division Reps", division_reps_path
                  %li= link_to "Manage Teams", teams_path
                  %li= link_to "Manage Fields", fields_path
                  %li= link_to "Manage Parks", parks_path
                  %li= link_to "Manage Games", games_path
                  %li= link_to "Manage Seasons", seasons_path
            %li= link_to "Sign out (#{username})", signout_path, method: "delete"      
          - else
            %li= link_to "Sign in", signin_path
          


