!!!
%html
  %head
    %title Big Apple Softball
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/nav"
    .container
      = yield
    .container
      = render :partial => "layouts/footer"