!!!
%html
  %head
    %title Softball!
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{:id => "#{params[:controller]}"}
    #flash.alert.alert-error
    = render :partial => "layouts/nav"
    -flash.each do |name, msg| 
      .alert= content_tag :div, msg, class: name
    .container
      = yield
    .container
      = render :partial => "layouts/footer"
    = javascript_include_tag "application"